.tab-line{
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
  z-index: 100;
}

.hover{
  width: 50%;
  float: left;
  margin-left: 0%;
}
.active{
  color:#673ab7 !important;
}

#header{
    text-align: center;
    background-color: #333;
    color: #fff;
    width: 100%;
}
#header h1{
    font-size: 20px;
    height: 44px;
    line-height: 44px;
    margin: 0em;
    color: #fff;
}

#tab{
  background-color: rgba(51,51,51,1.0);
}
#tab .aui-tab-item{
  color:#fff;
}
